.card{
    width: 18rem;
    background-color: #000;
    border: 2px #FFA132 solid;
  
}
@media (max-width:609px){
    #carouselExample{
        display: none;
    }
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
   
}
